mixin artist-preview(artist, dir='right')

  div(class=`artist-info ${dir}`)
    div(data-src=artist.auth0, class='popup')
      a(class='button', href=`/about/${artist.firstname}`)
        | See #{artist.firstname}'s work
    img(onclick=`javascript:document.location.href='/about/${artist.firstname}'`, class='thumb', src=artist.image.replace('.jpg','_th.jpg'))
