mixin navbar(active)

    // Nav
    nav#nav
        ul
            li(class=`${active == 'home' ? 'current' : ''}`)
                a(href='/') Home

            li(class=`${active == 'about' ? 'current' : ''}`)
                a(href='/about') About Us

            unless !menus
                unless !menus.featuredTats
                    li(class=`${active == 'tattoos' ? 'current' : ''}`)
                        a(href='/tattoos') Tattoos
                            ul
                                for tattoo in menus.featuredTats
                                    li
                                        a(href=`/tattoos/${tattoo.url}`)= tattoo.title

                unless !menus.featuredBlogs
                    li(class=`${active == 'blog' ? 'current' : ''}`)
                        a(href='/blog') Blog
                            ul
                                for blog in menus.featuredBlogs
                                    li
                                        a(href=`/blog/${blog.url}`)= blog.title
            
            if loggedIn
                li(class=`${active == 'create' ? 'current' : ''}`)
                    a(href='/user') Admin
                        ul
                            li
                                a(href='/admin/create') New Page
                            li
                                a(href='/auth/logout') Logout