mixin navbar(active)

    // Nav
    nav#nav
        ul
            li(class=`${active == 'home' ? 'current' : ''}`)
                a(href='/') Home

            li(class=`${active == 'work' ? 'current' : ''}`)
                a(href='/work') Our Work

            li(class=`${active == 'tattoos' ? 'current' : ''}`)
                a(href='/tattoos') Tattoos
            
            li(class=`${active == 'about' ? 'current' : ''}`)
                a(href='/about') About Us

            li(class=`${active == 'blog' ? 'current' : ''}`)
                a(href='/blog') Blog
                if bloglist
                    ul
                        for blog in bloglist
                            li
                                a(href=`./blog/${blog.url}`)= blog.title