mixin sidebar

    // Sidebar
    section.box
        header
            h3 Tattoos
        
            unless !menus.featuredtattoos
                #sidebar-gallery(style="display:none;")
                    for tattoo in menus.featuredtattoos
                        a(href=`/tattoos/${tattoo.url}`, target='_top')
                            img(src=tattoo.images.header, data-image=tattoo.images.header, alt=tattoo.summary)


    section.box
        header
            h3 Blog

            unless !menus.featuredblogs 
                ul.divided
                    for blog in menus.featuredblogs
                        li
                            a(href=`./blog/${blog.url}`, target='_top')
                                = blog.title

        footer
            p
                a.button.alt(href='./blogs') See All
            p
                a.button.alt(href='#') Contact Us


    unless !menus.featuredtattoos
        block append scripts
            script(src='/unitegallery/themes/tilesgrid/ug-theme-tilesgrid.js')
            script.
                $('#sidebar-gallery').unitegallery({
                    gallery_theme: "tilesgrid",
                    grid_num_rows: 100,
                    tile_as_link: true,
                    tile_link_newpage: false,
                    tile_enable_icons: false,
                    tile_enable_shadow: false,
                    tile_enable_border: false,
                    tile_enable_outline: false,
                    tiles_space_between_cols: 5,
                    tile_width: 200,
                    tile_height: 100
                });