extends ../layouts/left

block page_content
  article.box.post  
    header
      h2= data.title
    div= data.body
    for image in data.images
      img(src=image.src)
    div
      | Posted by: #{data.name} on #{data.postDate}
