extends ../layouts/left

block page_content
  article.box.post
    header
      h2= title
    hr
    for post in data
      section
        a.image.featured(href=`./blog/${post.url}`)
          img(src=`${post.images.header}`)
        header
          a(href=`./blog/${post.url}`)
            h3= post.title
        div= post.summary
        .footer
          Posted #{recentDate(post.postDate)}
      hr
      br