extends ../layouts/left

block page_content
  article.box.post
    img(src=data.images.header, class="12u")
    header
      h2= data.title
    
    .row
      .div(class='6u 12u(mobile)') Posted by: #{data.name} #{recentDate(data.postDate)}
      .div(class='6u 12u(mobile) sharethis-inline-share-buttons')
    
    hr
    section!= data.body
    
    #gallery(style="display:none;")
      for image in data.images.gallery
        img(src=image, data-image=image, alt='')

    hr
    .sharethis-inline-share-buttons

    block append scripts
      script(src='/unitegallery/themes/tiles/ug-theme-tiles.js')
      script.
          $('#gallery').unitegallery({
            gallery_theme: "tiles",
            lightbox_type: "compact",
            tile_enable_icons: false
          });