extends ../layouts/left

block page_content
  article.box.post
    img(src=data.images.header, class="12u")
    header
      h2= data.title

    section
      | Posted by: #{data.name} on #{recentDate(data.postDate)}
    
    section= data.body
    
    #gallery(style="display:none;")
      for image in data.images.gallery
        img(src=image, data-image=image, alt='')
		
    //- section.gallery
    //-   for image in data.images.gallery
    //-     div(class="4u 12u(mobile)")
    //-       img(src=image, class='gallery-image')
    
    block append scripts
      script(src='/unitegallery/themes/tiles/ug-theme-tiles.js')
      script.
          jQuery(document).ready(function(){
            // this is appended scripts block
            jQuery('#gallery').unitegallery({
              gallery_theme: "tiles",
              lightbox_type: "compact"
            });
          });