extends ../layouts/left

block page_content
  article.box.post
    img(src=data.images.header)
    header
      h2= data.title
    div= data.body
    for image in data.images.gallery
      img(src=image)
    div
      | Posted by: #{data.name} on #{recentDate(data.postDate)}
