extends ../layouts/left

block page_content
  article.box.post
    header
      h2= title
    hr
    for post in data
      section
        a.image.featured(href=`./tattoos/${post.url}`)
          img(src=`${post.images.header}`)
        header
          a(href=`./tattoos/${post.url}`)
            h3= post.title
        div= post.summary
        .footer
          | by: (TODO: artist preview)
          | #{recentDate(post.postDate)}
      hr
      br