extends ../layouts/left
include ../mixins/artist-preview

block page_content
  article.box.tattoo
    header
      h2= title
    hr
    for tattoo in data
      section
        a.image.featured(href=`./tattoos/${tattoo.url}`)
          img(src=`${tattoo.images.header}`)
        header
          a(href=`./tattoos/${tattoo.url}`)
            h3= tattoo.title
        div= tattoo.summary
        .footer.row
          div(class='8u')
            for author in tattoo.authors
              +artist-preview(author, 'left')
          div(class='4u') Posted
            | #{recentDate(tattoo.postDate)}
      hr
      br